// @import '//fonts.useso.com/css?family=Roboto:300,400,500,700,400italic';
@import './iconfont/material-icons.css';
@import './reset.scss';
@import './header.scss';
.mu-overlay {
    z-index: 499!important;
}

.mu-dialog-wrapper {
    z-index: 500!important;
}
.textR {
    text-align: right;
}
.mu-dialog {
    .mu-dialog-body {
        .mu-appbar {
            height: 50px;
            line-height: 50px;
            .mu-appbar-title {
                line-height: 50px;
                font-size: 20px;
            }
        }
    }
}